.burger-btn {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	position: absolute;
	left: rem(20);

	span {
		width: 30px;
		height: 3px;
		background-color: #333;
		margin: 4px 0;
		transition: 0.4s;


	}

	&.active {
		span {
			&:nth-child(1) {
				transform: rotate(-45deg) translate(-5px, 6px);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				transform: rotate(45deg) translate(-9px, -11px);
			}
		}
	}
}