.pagination {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0;

	// .pagination__list

	&__list {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		column-gap: rem(5);
	}

	&__text {
		color: var(--text-light-color);
	}

	// .pagination__dot

	&__dot {
		a {
			background-color: transparent;
			border-color: transparent;
		}
	}

	// .pagination__item

	li {
		a {
			background-color: var(--btn-secondary-bg);
			border: rem(1) solid var(--border-color-secondary);
			border-radius: rem(4);
			color: var(--text-dark-color);
			font-size: rem(12);
			display: inline-flex;
			padding: 6px 10px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 10px;

			height: rem(24);
			width: rem(26);
		}

		&.disabled {
			a {
				cursor: not-allowed;
				pointer-events: all !important;

				&:hover {
					background-color: var(--btn-secondary-bg);
					color: var(--text-dark-color);
					border-color: var(--primary-color);
				}
			}
		}

		&.active,
		&:hover {
			a {
				color: var(--white-color);
				background-color: var(--primary-color);
				border-color: var(--primary-color);
			}
		}

		&:first-child,
		&:last-child {
			a {
				font-size: rem(8);
			}
		}

		&.pagination__dot {
			a {
				background-color: transparent;
				border-color: transparent;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		flex-direction: column;
		gap: rem(20);
	}
}