@font-face {
	font-family: 'icomoon';
	src:
		url('../fonts/icomoon.ttf?30r9hf') format('truetype'),
		url('../fonts/icomoon.woff?30r9hf') format('woff'),
		url('../fonts/icomoon.svg?30r9hf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}