:root {
	--main-bg: #FAFBFF;
	--white-bg: #FFFFFF;

	--primary-color: #5932EA;
	--secondary-color: #9197B3;
	--white-color: #FFFFFF;

	--text-dark-color: #292D32;
	--text-light-color: #B5B7C0;
	--text-green-color: #008767;
	--text-red-color: #DF0404;

	--title-color: #000000;

	--btn-green-bg: #16C09861;
	--btn-red-bg: #FFC5C5;
	--btn-secondary-bg: #F5F5F5;

	--btn-border-color-green: #00B087;
	--btn-border-color-red: #DF0404;
	--btn-border-color-secondary: #EEEEEE;

}